
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1000;
  &__list {
    @extend .content-width;
    display: flex;
    flex-direction: row;
    height: 40px;
    overflow: hidden;
  }
  &__item {
    height: 100%;
    width: fit-content;
    &.left {
      font-family: $font-title;
    }
    &.right {
      margin-left: auto;
      padding: 10px 0;
    }

    & h1 {
      @extend .font-lr;
    }
  }
  &__toggle {
    height: 20px;
    width: 24px;
    position: relative;
    z-index: 1100;
    &:hover {
      cursor: pointer;
    }
    & span {
      width: 24px;
      height: 3px;
      background-color: $subText-color;
      display: block;
      position: absolute;
      left: 0;
      transition: all .3s ease;
      
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 8px;
      }
      &:nth-child(3) {
        top: 16px;
      }
    }
    &.is-btn {
      & span {
        background-color: $base-color;
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 6px);
        }
        &:nth-child(2) {
          opacity: 0;
          transform: rotate(-360deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg)  translate(5px, -6px);
        }
      }
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    background-color: $nav-bg;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    right: -100%;
    transition: all .3s ease-out;
    
    &.is-open {
      right: 0;
    }
  }
  &__nav-list {
    margin: 40px 0;
  }
  &__nav-item {
    a {
      color: $base-color;
      display: block;
      text-align: center;
      height: 40px;
      @extend .font-lr;
      margin-bottom: 0.5em;
      line-height: 40px;
      position: relative;

      &::after,
      &::before {
        content: "";
        width: 0px;
        height: 1px;
        background-color: $nav-bg;
        position: absolute;
        bottom: 10px;
        transition: all ease .3s;
      }
      &::after {
        left: 50%;
      }
      &::before {
        right: 50%;
      }
      &:hover {
        &::after,
        &::before {
          width: 50%;
        }
      }
    }
  }
}

